@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .normal-transition {
        @apply transition-all duration-300 ease-in-out;
    }
    .nav-link {
        @apply relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-0 after:h-1 after:bg-black after:rounded-lg after:normal-transition;
    }
    .nav-hover {
        @apply nav-link group-hover:after:w-10;
    }

    .link-hover {
        @apply nav-link hover:after:w-10;
    }

    .active-nav {
        @apply relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-10 after:h-1 after:bg-black after:rounded-lg;
    }
}

.nav-hover-1 {
    position: relative;
}

.nav-hover-1::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: #000;
    content: '';
    border-radius: 7px;
    transition: all 300ms ease-in-out;
}

.nav-hover-1:hover::after {
    width: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ant Design setup with tailwindcss */
svg {
    vertical-align: initial;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: initial;
}

.page-header-bg {
    background-color: #302938;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}
